<nav class="nav nav--active">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color1" data-letter="a"></div>
        <p class="nav__label">Awareness</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color2" data-letter="e"></div>
        <p class="nav__label">Engagement</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color3" data-letter="c"></div>
        <p class="nav__label">Consideration</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color4" data-letter="a"></div>
        <p class="nav__label">Acquisition</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color5" data-letter="r"></div>
        <p class="nav__label">Retention</p>
      </a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">
        <div class="nav__thumb color6" data-letter="g"></div>
        <p class="nav__label">Growth</p>
      </a>
    </li>
  </ul>
   <a href="http://ettrics.com/" class="logo" target="_blank">
   <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
  </a>
</nav>

<div class="page">
  <section class="section section--active color1" data-letter="a">
    <article class="section__wrapper">
      <h1 class="section__title">Awareness</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
  <section class="section color2" data-letter="p">
    <article class="section__wrapper">
      <h1 class="section__title">Engagement</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
  <section class="section color3" data-letter="q">
    <article class="section__wrapper">
      <h1 class="section__title">Consideration</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
  <section class="section color4" data-letter="e">
    <article class="section__wrapper">
      <h1 class="section__title">Acquisition</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
  <section class="section color5" data-letter="s">
    <article class="section__wrapper">
      <h1 class="section__title">Retention</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
  <section class="section color6">
    <article class="section__wrapper">
      <h1 class="section__title">Growth</h1>
      <p>Use your 'left' and 'right' arrow keys to navigate.</p>
    </article>
  </section>
</div>
