//colors
$bodycolor           : #fff;
$black           	 : #000;
$white               : #000;
$color_gray          : #000;
$red                 : #000;
$maroon              : #000;
$color_tuatara       : #000;
$color_shark         : #000;
$color_mischka       : #000;
$color_mercury       : #000;
$color_bon_jour      : #000;
$color_gallery       : #000;
$color_stack         : #000;
$color_alabaster     : #000;
$color_tundora       : #000;
$color_fuscous_gray  : #000;
$color_alabaster     : #000;
$color_celeste       : #000;
$color_pink_swan     : #000;
$comp-color 	     : complement(#222);

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : Fira Sans,sans-serif;
$font2               : Inconsolata;
$alt-font            : serif;
$doc-font-size       : 16;
$doc-line-height     : 26;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
